<div class="wrapper">
  <div class="container">
    <div class="content">
      <div class="first-line-break">
        <div class="first-line-break-title">
          Scurt istoric al asociatiei
        </div>
        <hr class="hr_blue">
      </div>
      <div class="card">
        <p>
          Asociația Județeană  DX RADIO Alba a fost înființată în anul 2002 în baza Legii nr. 69/2000, Ordonanței
          Guvernului nr. 26/2000 și a Regulamentului de aplicare a Legii nr. 69/2000, din următoarele asociații sportive
          fără personalitate juridică: Contest Club Alba Iulia, Simcom Club Alba Iulia, Beta Radio Blaj și Ham Radio Aiud.
          Ea s-a născut din nevoia de reorganizare a activității de radioamator  în județ, datorită noilor schimbări din
          sportul românesc, a desființării secției de radio din cadrul Clubului sportiv UNIREA  Alba Iulia și a lipsei de
          interes a autorităților competente față de activitatea de radioamatorism.
        </p>
        <p>
          Ulterior s-au alăturat celor patru cluburi fondatoare , în ordine,  Radioclubul Centrului Cultural “Lucian Blaga”
          din Sebes, FIRAC ROMÂNIA și Radioclubul Delta din Ocna Mureș.
        </p>
      </div>
      <div class="first-line-break">
        <div class="first-line-break-title">
          Membrii
        </div>
        <hr class="hr_green">
      </div>
      <div class="card cardGreen">
        <p>
          Inițial Asociația a avut 57 de membri persoane fizice, afiliate la cele patru cluburi, actualmente au rămas 25 de
          membri, ceilalți nu mai activează în cadrul asociației din diverse motive.
        </p>
        <p>
          Evident că la început activitatea  a mers mai greu, având în vedere atât noile condiții,
          cât mai ales lipsa resurselor materiale și financiare, dar pe măsura trecerii timpului și datorită  unitații
          manifestate de membrii asociației au început să apară și rezultate din ce în ce mai bune.
        </p>
      </div>
      <div class="first-line-break">
        <div class="first-line-break-title">
          Evenimente
        </div>
        <hr class="hr_blue">
      </div>
      <div class="card">
        <p>
          În primul rând Consiliul director s-a preocupat de lărgirea bazei materiale, astfel că ne-am dotat cu
          stații radio noi, antene , etc., fapt care a dus la creșterea activității radio în județ și a impulsionat și
          demararea altor acțiuni în domeniu, cum au fost : Festivalul ”Cetăților Dacice”,  Festivalul “Lucian Blaga” și
          “Târgul de fete – Muntele Găina”. Aceste acțiuni de promovare a valorilor spirituale și istorice, precum și a
          frumuseților naturale ale acestor locuri au fost gustate  de radioamatori de pe întreg mapamondul .
        </p>
        <p>
          În anul 2008 am organizat Simpozionul Național al Radioamatorilor, eveniment extrem de apreciat atât de
          autoritățile locale cât și de participanți, care au fost în număr foarte mare.
        </p>
        <p>
          Ziua Națională , cu o încărcătură istorică deosebită pentru  orașul Alba Iulia,  ne-a oferit prilejul să
          prezentăm lumii întregi, începând din anul 1990, semnificația  evenimentului prin zecile de mii de legături
          radio realizate.
        </p>
        <p>
          Ne propunem ca la <strong>Centenar</strong> să organizăm o acțiune la care să participe radioamatori din toată
          țara , ne gândim deja la un program pe care îl vom prezenta pe pagina noastră și asteptăm idei și
          sugestii pentru acesta.
        </p>
        <p>
          Avem o colaborare excelentă cu Consiliul Județean Alba, colaborare fără de care nu puteam realiza
          toate cele prezentate mai sus.
        </p>
      </div>
    </div>
  </div>
  <div class="containerContact">
    <div class="containerContactTitle">Date de contact:</div>
    <div class="containerContactWrapper">
      <div class="containerContactAddress">
        <img height="30" src="https://img.icons8.com/wired/64/000000/address.png">
        <div class="address">str. Dr. Ion Rațiu nr.34, cod poștal 510045 Alba Iulia, România</div>
      </div>
      <div class="containerContactPhone">
        <img height="30" src="https://img.icons8.com/wired/64/000000/phone-not-being-used.png">
        <div class="phone">(+40) 740180420</div>
      </div>
      <div class="containerContactEmail">
        <img height="30" src="https://img.icons8.com/ios/64/000000/email-open.png">
        <div class="email">ajralba@yahoo.com</div>
      </div>
    </div>
  </div>
</div>
